{
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "printWidth": 120,
  "endOfLine": "lf",
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 2,
  "singleAttributePerLine": true
}
