// app global css in SCSS form
@import "quasar.variables";

body.body--light {
  background-color: #F4F5FA;
}

// 滚动条样式 - chrome
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $primary;
}
